.gallery {
    margin-top: 35em;
    width: 100%;
    
    &__text-container {
        margin: 0 2.75em;
    }

    &__p-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        
        .text {
            max-width: 34.4em;
        }
    }

    &__paintings-container {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        background-image: url('../../assets/bg/gallery-background.png');
        width: 100%;
        padding: 7.5% 0;
        margin-top: 6.25em;
        border-radius: 5px;
        justify-content: center;
        align-items: center;

        [class^="painting"] {
            margin: auto;
            padding: 1.5vw;
            cursor: pointer;
            -webkit-user-drag: none;
            flex: 0 1 25%;
            
            img {
                transition: transform 0.15s ease-in-out;
                box-shadow: 0 15px 10px -5px rgba(0,0,0,0.31);
            }
            
            :hover {
                transform: rotate(-3deg);
            }
        }
    }
}

@media (max-width: 1255px) { 

}